
sudo: false
language: c
cache: ccache
   directories:
   - $HOME/linux-sunxi
git:
  depth: 1
addons:
  apt:
    packages:
    - gcc-arm-linux-gnueabihf
    - bc
    - u-boot-tools
    - lzop
before_install:
  # Install the arm32 cross-compiler
  - git clone --depth=1 --branch=pwm\+cma https://github.com/damien7851/linux-sunxi.git damien7851/linux-sunxi
  - arm-linux-gnueabihf-gcc --version
  # Install bc (required by the kernel)
 
  # Install 32-bit compatibility libraries for the Linaro arm64 cross-compiler
  # (which is a 32-bit x86 binary)
  #- if [ `uname -m` = x86_64 ]; then sudo apt-get install libc6-i386 lib32stdc++6 lib32z1; fi
   
before_script:
  # Store the home repository
 
  - export MYHOME=$PWD


script:

  - export PATH=/usr/lib/ccache:$PATH
  - make -j`getconf _NPROCESSORS_ONLN` 




